<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="#" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
        <script>
            $(document).ready(function () {
                $("#obtenerRespuesta").click(function () {
                    $.ajax({
                        method: "GET",
                        url: "https://3kk521ccj6.execute-api.us-east-1.amazonaws.com/prod/ws-sw2-2020-1-ajax/ej1"
                    }).done(function (msg) {
                        $("#respuesta").html(msg);
                    }).fail(function(err){
                        console.log(err);
                        alert("ocurrió un error al cargar la página");
                    });
                });
            });
        </script>
    </head>
    <body>
        <div>¿Qué es Lorem Ipsum?</div>
        <button id="obtenerRespuesta">Obtener respuesta</button>
        <div id="respuesta"></div>
    </body>
</html>

